h1{
    text-align: center;
}
.icon{
    margin-left: 50%;
    font-size: 50px;
    color: rgb(5, 128, 128);
}
h3{
    text-align: center;
    margin-top: 30px;
    color: rgb(0, 0, 0);

}
section{
    text-align: center;
    margin-top: 30px;

}
.serv{
    margin-top: 150px;
}
.roww{
    margin-top: 50px;
}
@media only screen and (max-width: 500px) {
    h1 {
        padding-left: 30px;
    }
    .coll{
        margin-top: 20px;
    }
}